<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imm.citi">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".technicalClasses.CitiScope"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SujisScope"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="Sign In"
            android:theme="@style/newTheme" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:label="Sign Up"
            android:theme="@style/newTheme" />
        <activity android:name=".activities.BottomBarActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.NotificationActivity" />
        <activity android:name=".activities.PollActivity" />
        <activity android:name=".activities.CodeConfirmationActivity" />
        <activity android:name=".activities.ResetPasswordActivity" />
        <activity
            android:name=".activities.FilterActivity"
            android:label="Filters" />
        <activity android:name=".activities.AgentListActivity" />
        <activity android:name=".activities.BookmarkActivity"></activity>
    </application>

</manifest>